<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Get All Images</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->

    <!--JQuery CDN-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>


</head>
<body>
<h1>Here you see all the images</h1>
<!--<img src="http://localhost:3000/seeall" alt="I am Alt Text" id="img">-->
<div id="imghere"></div>
<button class="btn primary-btn" onclick="getAllImages()">Click Here</button>
<script type="text/javascript">
    function getAllImages() {
        // $(document).ready( ()=> {
        //     $.ajax({
        //         url: '/seeAll',
        //        success: (result) => {
        //             console.log('On success')
        //             // $.each(result,(item,index)=>{
        //             //     console.log(item,index);
        //             //     // $('#img').attr('src',`data:`)
        //             // })
        //             console.log(result, 'No result??');
        //             // const b64 = result.imageBinary.data.toString('base64');
        //             var b64 = arrayBufferToBase64(result);
        //             const contentType = 'image/jpg';
        //             $('#imghere').html(`<img src ="data:${contentType};base64,${b64}" alt ="Nothing found"/>`);
        //         }
        //     })
        // })
        console.log('I am called');
        maxPicturesDisplaying = 7;
        for (let i = 0; i < maxPicturesDisplaying; i++) {
            console.log(i);
            $('#imghere').append(`<img src ="http://localhost:3000/seeall/${i}" style="height: 275px; width: 200px " alt ="Nothing found"/>`);
        }

    }

    function arrayBufferToBase64(buffer) {

        let binary = '';
        const bytes = [].slice.call(new Uint8Array(buffer));
        bytes.forEach((b) => binary += String.fromCharCode(b));
        return window.btoa(binary);
    }

</script>
</body>
</html>
